@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  text-align: center;
  background-color: #ddd;
  font-family: "Recursive", sans-serif;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #000;
}

.bars:hover {
  stroke-width: 1px;
  stroke: white;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.tooltip {
  text-align: right;
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.9);
  pointer-events: none;
}
